@import url('https://static.crypt.ee/fonts/montserrat-regular.css');
@import url('https://static.crypt.ee/fonts/montserrat-semibold.css');

body, body * {
    font-family: 'Montserrat', sans-serif !important;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: subpixel-antialiased !important;
}

h2:not(.post-title) {
    font-size: 1.5em;
    line-height: 2;
}

h2.post-title {
    font-size: 2em;
}

body:before {
    height: 3px;
    width: 100%;
    content: "";
    background-color: #4bbf73;
    display: block;
}

input[type="submit"] {
    background-color: #363636;
    text-transform: uppercase;
    border: none;
    padding: 9px 15px;
    border-radius: 30px;
    margin-left: 10px;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.1);
    font-size: 13px;
    cursor:pointer;
}

input[type="submit"]:hover {
    background-color:#000;
}

input[type="email"] {
    border: 1px solid #999;
    border-radius: 30px;
    padding: 9px 20px;
    font-size: 13px;
}

#blog-title {
    letter-spacing: 3px;
    text-transform: uppercase;
    box-shadow: none;
	outline: none;
}

#blog-title a[href="/"] {
    margin: auto;
    display: block;
    text-align: center;   
    box-shadow: none;
	outline: none;
}

#blog-title a[href="/"]:before {
    content: "";
    position: relative;
    clear: both;
    display: block;
    margin: auto;
    background-image: url(https://crypt.ee/assets/cryptee-logo-b.png);
    width: 30px;
    height: 40px;
    background-size: 30px;
    background-repeat: no-repeat;
    margin-bottom: 15px;
    box-shadow: none;
	outline: none;
}

.e-content {
    line-height: 1.4em;
}

.e-content p {
    margin-bottom: 1rem !important;
    display: inline-block !important;
    font-size: 16px;
}

.e-content p a {
    text-decoration: underline;
    color: #000;
    font-weight: 600;
}

.e-content hr {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
    font-size: 16px;
}

hr {
    margin: 2em auto !important;
}

#collection article {
    padding: 0 1rem;
}

#collection article .post-title,
#collection article .dt-published,
#collection article .read-more {
    text-align: center;
    display: inline-block;
    width: 100%;
}

#collection article .e-content,
#collection article .p-summary {
    max-height: 400px;
    overflow: hidden;
    background-color: #FFF;
    box-shadow: 0 1rem 2rem rgba(0,0,0,0.2);
    border-radius: 1rem;
    border-bottom-color: transparent !important;
    padding: 2rem !important;
    margin: 2rem auto;
    max-width: 100%;
    display: block;
}













/* FOOTER */
#subscribe {
    margin-bottom: 2rem;
    text-align: center;
}

footer nav, footer hr {
    display:none;
}