/* -----------------------------
-------------------------------- 
 
EDITOR TYPOGRAPHY 
 
--------------------------------
----------------------------- */

@font-face {
    font-family: 'Arimo';
    src: url('../fonts/Arimo-VariableFont_wght.ttf') format("truetype-variations");
    font-weight: 1 999;
}

@font-face {
    font-family: 'Arimo';
    src: url('../fonts/Arimo-Italic-VariableFont_wght.ttf') format("truetype-variations");
    font-style: italic;
    font-weight: 1 999;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-VariableFont_slnt_wght.ttf') format("truetype-variations");
    font-weight: 1 999;
}

@font-face {
    font-family: 'Markazi';
    src: url('../fonts/MarkaziText-VariableFont_wght.ttf') format("truetype-variations");
    font-weight: 1 999;
}



