body {
    display: grid;
    grid-template-columns: minmax(4rem, 1fr) 20rem 1fr;
    grid-template-rows: 1rem 2rem 1rem 1fr 24rem 1fr 1rem 2rem 1rem;
}

.dm body {
    background-color: var(--oled-safe-black);
    color: white;
}

.dm .progress::-moz-progress-bar        { background: var(--cryptee-4) !important; }
.dm .progress::-webkit-progress-bar     { background: var(--cryptee-4) !important; }
.dm .progress::-webkit-progress-value   { background: var(--cryptee-4) !important; }

#logo {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    object-fit: contain;
    width: 2rem;
    height: 2rem;
    margin-left: 1rem;
    opacity: 0.3;
    user-select: none;
}

.dm #logo {
    filter: invert(1);
}

main {
    grid-row: 5/6;
    grid-column: 2/3;
    overflow: hidden;
    background-color: #FFF;

    display: grid;
    grid-template-rows: 3rem 3rem 3rem 3rem 1fr 2rem 4rem;
    grid-template-columns: 4rem minmax(12rem, 16rem);
    padding-top: 1rem;

    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.1);
    border-radius: 0.5rem;

    opacity: 1;
    transition: 0.5s opacity var(--cryptee-cb);
}

.dm main {
    background-color: var(--cryptee-0);
    box-shadow: none;
    border-radius: 0;
}


main .appButton {
    margin-top: 0;
    grid-column: 1/-1;
}

main .appButton img {
    height: 1rem;
    width: 1rem;
    object-fit: contain;
    padding: 1rem 1.5rem;
    float: left;
    user-select: none;

    opacity: 0.2;
    transition: 0.15s opacity linear;
}

.dm main .appButton img  {
    filter: invert(1);
}

main .appButton a {
    display: block;
    height: 100%;
    width: 100%;
}

main .appButton a > span {
    line-height: 3rem;
}

.appButton[app="install"] img {
    transform: rotate(45deg);
    filter: invert(1);
}

.dm .appButton[app="install"] img {
    filter: invert(0);
}

.callout {
    color: var(--cryptee-green);
    font-weight: bold;
    opacity: 1;
}

.callout:not(.show) { opacity: 0; }

#welcome {
    grid-row: -2 / -1;
    grid-column: 2 / -1;
    margin-top: -0.5rem;
    user-select: none;
}

b { 
    grid-row: -3 / -2;
    grid-column: 2 / 3;
    background-color: black;
    height: 1px;

    transform: translateX(0);
    transition: 0.5s transform var(--cryptee-cb);
}

.dm b {
    background-color: var(--cryptee-4);
}


#displayName {
    color: var(--cryptee-2);
    user-select: none;
    text-transform: lowercase;

    width: calc(100% - 1rem);
    text-overflow: ellipsis;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    height: 1.5rem;
}

nav {
    grid-row: 2/3;
    grid-column: 2/4;
    display: flex;
    margin-left: auto;
    margin-right: 1.5rem;
}

.menuButton {
    margin-left: 2rem;
    margin-top: 0;
    display: block;
    line-height: 2rem;

    opacity: 0.4;
    transition: 0.15s opacity linear;
    color: #000;
}

.dm .menuButton {
    color: #FFF;
}

#bottomNewsButton {
    position: absolute;
    bottom: 0;
    right: 0rem;
    padding-right: 1.5rem;
    text-align: right;
    line-height: 4rem;
    width: 4rem;

    opacity: 0.4;
    transition: 0.15s opacity linear;
    display: none;
}



/* -----------------------------
-------------------------------- 
 
SPECIAL OFFERS 
 
--------------------------------
----------------------------- */

#offerButton {
    position: absolute;
    bottom: 0;
    left: 1rem;
    
    box-shadow: 0 0.25rem 0.5rem rgba(0,0,0,0.2);
    background-color: var(--cryptee-green);
    color: #FFF;
    font-weight: 350;

    width: calc(100% - 2rem);
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    text-align: justify;

    padding: 1rem 1rem 0.75rem 1rem;
    box-sizing: border-box;
    margin-top: 0;

    user-select: none;
    cursor: pointer;

    opacity: 1;
    transition: 0.3s opacity ease 0.3s;
}

#offerButton:empty,
#bottomNewsButton.unread + #offerButton {
    pointer-events: none;
    opacity: 0;
}


/* -----------------------------
-------------------------------- 
 
PWA INSTALL TIP 
 
--------------------------------
----------------------------- */

#tips-install-pwa {
    height: 24rem;
}

#tips-install-pwa h3 { margin-top: 0; }

#tips-install-pwa small {
    text-align: justify;
    font-size: 0.876rem !important;
    line-height: 1.25rem !important;
}

#tips-install-pwa strong { 
    position: relative;
    margin: 0.5rem 0;
    display: block; 
    width: 100%;
}

#tips-install-pwa strong:first-of-type {
    margin-top: 0;
}

#tips-install-pwa #button-why {
    width: 100%;
    height: 17rem;
    background-color: var(--cryptee-4);
    border-radius: 0.5rem;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    
    padding: 0 2rem 4.5rem 2rem;
    transform: translateY(14rem);
    transition-duration: 0.7s;
    transition-property: transform, padding;
    transition-timing-function: var(--cryptee-cb);
}

#tips-install-pwa #button-why small {
    margin-top: 0 !important;
    line-height: 3.125rem !important;
    font-size: 0.8rem !important;
    user-select: none !important;
}

#tips-install-pwa #button-why p {
    text-align: justify;
}

#tips-install-pwa #button-why.open {
    padding-top: 1rem;
    transform: translateY(0);
}


/* -----------------------------
-------------------------------- 
 
NEWS
 
--------------------------------
----------------------------- */

#news-card {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;

    z-index: 3;

    max-height: 13.75rem;
    margin-top: auto;
}

#news-card div {
    max-width: 320px;
    height: 14rem;
    margin: 0 1.5rem 0 auto; 

    transform: translateY(0);
    transition: 0.7s transform var(--cryptee-cb);
    
    box-sizing: border-box;
    padding: 1.5rem 1.5rem 1rem 1.5rem;

    border-radius: 0.5rem 0.5rem 0 0;
    box-shadow: 0 0rem 1rem rgba(0,0,0,0.2);
    background-color: #FFF;
    color: #000;

    display: grid;
    grid-template-columns: 1fr 1rem 1.5rem;
    grid-template-rows: 1.5rem 1fr 3.25rem;
}

#news-card button.close img {
    width: 1rem;
    height: 1rem;
    padding-left: 0.5rem;
}

#news-card button.close { 
    margin: 0;
    grid-column: 3/4;
    grid-row: 1/2;
    filter: invert(1);
}

#news-card a.more { 
    display: block;
    box-sizing: border-box;
    
    grid-column: 1/4;
    grid-row: 3/4;
    margin: 0 0 0 auto;
    
    text-align: right;
    padding: 0.5rem 0.75rem 0.5rem 1rem;
    height: 2.5rem;

    transform: translateY(0.75rem) translateX(0.75rem);
    transition: 0.85s transform var(--cryptee-cb);

    border-radius: 0.5rem;
    background-color: var(--cryptee-green);
    color: #FFF;
}

#news-card a.more i {
    margin-left: 0.5rem;
    line-height: 1.5rem;
}

#news-card a.more span {
    float: left;
    line-height: 1.5rem;
}

#news-card p {
    margin-top: 0;
    grid-column: 1/-1;
    grid-row: 2/3;
    text-transform: lowercase;
}

#news-card strong {
    display: block;
    grid-column: 1/2;
    grid-row: 1/2;
    
    line-height: 1.125rem;
    height: 1.125rem;
}

body:not(.show-news) #news-card { pointer-events: none !important; }
body:not(.show-news) #news-card div { transform: translateY(14rem); }
body:not(.show-news) #news-card a.more { transform: translateY(14rem)  translateX(0.75rem); }

#topNewsButton              { background-color: transparent; border-radius: 0.5rem; }
#topNewsButton.unread       { background-color: var(--cryptee-blue); padding: 0 1rem; }

#bottomNewsButton           { background-color: transparent; border-top-left-radius: 1rem; }
#bottomNewsButton.unread    { background-color: var(--cryptee-blue); }

.newsButton { cursor: pointer; }


/* -----------------------------
-------------------------------- 
 
MEDIA QUERIES 
 
--------------------------------
----------------------------- */

@media (min-width : 896px) {
    #offerButton { 
        left: 1rem;
        right: 1rem;
        margin: auto;
        text-align: center; 
        max-width: 864px;
    }
}

@media (max-width : 448px) {
    
    body {
        display: grid;
        grid-template-columns: minmax(4rem, 1fr) minmax(16rem, 20rem) 0;
    }

    main {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    #topNewsButton { display: none !important; }
    #bottomNewsButton { display: block !important; }
    
    #news-card {
        width: calc(100% - 4rem); max-width: 320px; 
    }

    #news-card div { 
        margin: auto; 
        border-radius: 1rem 0 0 0;
    }

}

@media (max-width : 374px) {

    body {
        grid-template-rows: 1rem 2rem 1rem 1fr 20rem 1fr 1rem 2rem 1rem;
    }

    #offerButton {
        width: 100%;
        left: 0;
        font-size: 0.85rem;
        padding: 0.5rem 1rem 0.25rem 1rem;
    }
}

@media (max-height : 768px) {
    body.show-news main b { transform: translateX(20rem); }
    body.show-news main { opacity: 0.7; }
}






/* -----------------------------
-------------------------------- 
 
IT'S A POINTER DEVICE,
ENABLE HOVERS 
 
--------------------------------
----------------------------- */

@media (-moz-touch-enabled: 0), (pointer:fine) {
    #bottomNewsButton:hover, 
    .appButton:hover img, 
    .menuButton:hover {
        opacity: 1;
    }
}
