/*///////////////////////////////////////////////////
////////////////////// GENERAL //////////////////////
///////////////////////////////////////////////////*/

.home-body, html {
	background: #F5F5F5;
	min-height: 100%;
	scroll-snap-type: y mandatory;
}

.home-column {
	/* same as docs page width for optical OCD's sake */
	max-width: calc(100% - 320px + 1rem);
	margin: auto auto 0.5rem auto !important;
}

#main-progress {
	margin-top: 0;
	margin-bottom: 0;
	height: 3px !important;
}

.shownForOffline {
  display: none;
}

.disabledForOffline.disabled {
  pointer-events: none;
  opacity: 0.3;
  filter: blur(1px);
}

/*///////////////////////////////////////////////////
////////////////////// NAV //////////////////////////
///////////////////////////////////////////////////*/

#home-app-nav {
	margin-top: 1rem;
	height: 3rem;
}

#left-nav {
	float: left;
	text-align: left;
	top: 0;
	left: 0;
}

#right-nav {
	float: right;
	text-align: right;
	top: 0;
	right: 0;
}

.home-app-nav-item {
  width: auto;
  height: 2rem;
  display: inline-block;
  margin-left: 1rem;
  vertical-align: middle;
}

.home-app-nav-item img {
  width: auto;
  height: 2rem;
}

#upgrade-button {
  padding: 0.5rem 1rem;
  border-radius: 6rem;
  box-shadow: 0 0.25rem 0.5rem rgba(10,10,10,0.1);
  text-decoration: none;
  cursor: pointer;
}

#help-button, #signout-button, #settings-button {
  position: absolute;
  top: 0;
  right: 0;
  width: 2rem;
  height: 4rem;
  margin-left: 1rem;
  margin-right: 1rem;
  cursor: pointer;
  z-index: 12;
  color : #999;
  font-size: 16px;
  transition: 0.5s color ease, 1s opacity ease;
  opacity: 1;
  pointer-events: all;
}

#help-button.itsMobile, #signout-button.itsMobile, #settings-button.itsMobile {
  top: 3px;
  width: 3rem !important;
  height: 3rem !important;
}

#signout-button {
	right : 2.5rem;
}

#settings-button {
	right: 5.5rem;
}

/*///////////////////////////////////////////////////
////////////////// WELCOME CARD /////////////////////
///////////////////////////////////////////////////*/

#home-center-scroller {
	position: absolute;

	margin-left: auto;
	margin-right: auto;

	/* scroll-snap-align: start; */
	/* overflow: scroll; */

	top: 4rem;
	left: 0;
	right: 0;

	max-width : 480px;
	min-width: 320px;
	width: 100%;
}

#home-welcome-card {
	position: relative;
	height: 325px;
	width : 320px;
	border-radius: 1.5rem;
	overflow: hidden;
	background-color: #FFF;
	min-height: 300px;
	box-shadow: 0 1rem 2rem rgba(10,10,10,0.1);
	transition: 0.75s box-shadow ease, 0.5s opacity ease;
	margin-left: auto;
	margin-right: auto;
	
	margin-bottom: 3rem;
	margin-top: calc(50vh - (325px / 2) - 4rem);
}

#home-welcome-card .welcome-container {
	padding: 2rem;
	height: 297px;
	text-align: center;
}

#home-welcome-card .progress {
	height: 3px;
}

#home-welcome-card .usage {
	display: inline-block;
	max-width: 50%;
	background-color: #F5f5f5;
	padding: 0.5rem 1.25rem calc(0.5rem - 4px) 1.25rem;
	color: #363636;
	border-top-right-radius: 1.5rem;
	font-size : 10px;
	pointer-events: none;
	transition: 0.5s color ease, 0.5s background-color ease;
}

.home-item {
	margin: 0 1rem;
	padding: 1.5rem 0.5rem;
	height: 7rem;
	width: 7rem;
	min-height: 7rem;
	min-width: 7rem;
	transition: none !important;
}

.home-item .subtitle {
  transition: none !important;
  color: #363636;
}

.home-item .app-icon {
	width: 72px;
	height: 72px;
}

.home-item .subtitle {
  font-size: 1em;
}

.home-item.is-loading .subtitle {
  color:#FFF;
}

.username {
		font-size: 0.9em;
    max-height: 60px;
    overflow: hidden;
    display: inline-block;
}

/*///////////////////////////////////////////////////
///////////////////// NEWS CARD /////////////////////
///////////////////////////////////////////////////*/

#home-news-section {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 3rem;

	max-width: calc(480px - 4rem);
	background-color: #FFF;
	height: auto;

	width: calc(100% - 4rem);
	transform: translateY(0);

	border-radius: 1.5rem;
	box-shadow: 0 1rem 2rem rgba(10,10,10,0.1);
	overflow: hidden;
	transition : 1s opacity ease, 1s box-shadow ease, 1s transform ease;
	cursor: pointer;
}

#home-news-section .news-container {
	padding: 2rem;
	text-align: center;
}

.news-content { 
	text-align: left;
}

.news-content .news {
	margin-bottom: 1rem;
}

@media (max-width: 500px) {
	.is-hidden-tiny-phone {
		display: none;
	}

	#home-welcome-card {
		margin-top: calc(100% - (325px / 2) - 5rem);
		height: calc(325px - 3rem);
		width : calc(320px - 2rem);
		min-height: 286px;
	}

	#home-welcome-card .welcome-container {
		padding: 1.5rem;
		height: calc(301px - 3rem);
	}

	#home-news-section {
		max-width: calc(100% - 2rem);
		width: 100%;
	}

	#home-news-section .news-container {
		padding:  1.5rem;
	}

}


/*///////////////////////////////////////////////////
//////////////// PRICE-CUT CARD /////////////////////
///////////////////////////////////////////////////*/

#new-pricing-card {
  margin-left: auto;
  margin-right: auto;
	margin-bottom: 3rem;

  background-color: #fff;
  color: #FFF;
  min-height: 300px;
  
  height: 340px;
  width : 320px;
  
  box-shadow: 0 1rem 2rem rgba(10,10,10,0.25);    
  transform: translateY(-9rem);
  opacity: 0;
  pointer-events: none;
  transition: 0.75s box-shadow ease, 1s transform ease, 0.75s opacity ease;
}

#new-pricing-card.shown {
  transform: translateY(0);
  opacity: 1;
  pointer-events: all;
}

#new-pricing-card .top-part {
	width: 100%;
	height: calc(100% - 4rem);
	padding: 1rem 1.5rem;
	background-color: #000;
}

#new-pricing-card .bottom-part * {
	color:#000;
	font-size: 16px;
	line-height: 4rem;
	letter-spacing: 2px;
	margin-left: 1.5rem;
}

#new-pricing-card * {
	font-size: 28px;
	letter-spacing: 4.5px;
}

#new-pricing-card .tiers {
	min-width: 170px;
	display: inline-block;
}

#new-pricing-card .cur {
	font-size: 14px;
	vertical-align: baseline;
}

#new-pricing-card .bottom-part span {
	cursor: pointer;
	line-height: 4rem !important;
	width: 4rem;
	height: 4rem;
}

.bottom-upgrade {
	float: right;
	margin-top: 1px;
	margin-right: 1.5rem;
	font-weight: 700;
	cursor: pointer;
}

#new-pricing-card:not(.shown) + #home-news-section {
	transform: translateY(-320px);
}


/*///////////////////////////////////////////////////
//////////////// DARK MODE OVERRIDES ////////////////
///////////////////////////////////////////////////*/

.dm #home-welcome-card,
.dm #home-news-section {
	background-color: rgba(255,255,255,0.055);
	box-shadow: 0 1rem 2rem rgba(0,0,0,0.15);
}

.dm #home-welcome-card p,
.dm #home-news-section * {
	color: var(--bright) !important;
}

.dm #home-news-section a {
	color: var(--brightest) !important;
}

.dm #home-welcome-card .usage {
	background-color: transparent;
}