/*///////////////////////////////////////////////////
////////////////////// GENERAL //////////////////////
///////////////////////////////////////////////////*/

html {
	background-color: #f5f5f5;
}

.album progress.progress:indeterminate {
	animation: album-progress-indeterminate-dark 3s ease infinite !important;}

@keyframes album-progress-indeterminate-dark {
  0% {
    background-image: linear-gradient(to right, #ffffff 10%, #363636 50%, #ffffff 90%,);
	background-position: 300% 0;
	background-color: #FFF;
  }
  100% {
    background-image: linear-gradient(to right, #ffffff 10%, #363636 50%, #ffffff 90%,);
	background-position: -200% 0;
	background-color: #FFF;
  }
}

.photos-body {
	background: #F5F5F5;
	min-height: 100%;
}

.photos-column {
	/* same as docs page width for optical OCD's sake */
	max-width: calc(100% - 320px + 1rem);
	margin: auto auto 0.5rem auto !important;
}

/*///////////////////////////////////////////////////
////////////////////// NAV //////////////////////////
///////////////////////////////////////////////////*/


#main-progress {
	margin-top: 0;
	margin-bottom: 0;
	height: 3px !important;
}

#photos-app-nav {
	margin-top: 1rem;
	height: 3rem;
}

#left-nav {
	float: left;
	text-align: left;
	top: 0;
	left: 0;
}

#right-nav {
	float: right;
	text-align: right;
	top: 0;
	right: 0;
}

.photos-app-nav-item {
  width: auto;
  height: 2rem;
  display: inline-block;
  margin-left: 1rem;
  vertical-align: middle;
}

.photos-app-nav-item img {
  width: auto;
  height: 2rem;
}

#upgrade-button {
  padding: 0.5rem 1rem;
  border-radius: 6rem;
  box-shadow: 0 0.25rem 0.5rem rgba(10,10,10,0.1);
  text-decoration: none;
  transition: 1s opacity ease;
  cursor: pointer;
}

#help-button, #hotkeys-button {
  position: absolute;
  top: 0;
  right: 0;
  width: 2rem;
  height: 4rem;
  margin-left: 1rem;
  margin-right: 1rem;
  cursor: pointer;
  z-index: 12;
  color : #999;
  font-size: 16px;
  transition: 0.5s color ease, 1s opacity ease;
  opacity: 1;
  pointer-events: all;
}

#hotkeys-button {
  right: 2.5rem;
}

#help-button.itsMobile {
  top: 3px;
  width: 3rem !important;
  height: 3rem !important;
}

#hotkeys-button.itsMobile {
  display: none;
}

.photos-top-nav.sticky {
	box-shadow: 0 0.25rem 0.5rem rgba(10,10,10,0.1);
}

.photos-top-nav .button * {
  color: #666 !important;
  transition: 0.3s color ease;
}

.photos-sub-nav {
	width: 280px;
	margin-left: auto;
	height: 3.5rem;
	background-color: #000;
	padding: 0.25rem;
	border-radius: 10px;
	box-shadow: 0 0.25rem 0.5rem rgba(0,0,0,0.15);
	text-align: right;
	overflow: hidden;
	pointer-events: none;
	transform: translateY(-0.5rem);
	opacity: 0;
	transition: 0.5s transform ease, 0.5s opacity ease,  0.5s height ease, 0.5s padding ease;
}

.photos-sub-nav span {
	color : #FFF;
	background-color: transparent;
	border: none;
	height: 3rem;
	line-height: 3rem;
}

.photos-sub-nav span:not(.button), .photos-sub-nav span:last-of-type {
	margin-right: 0.25rem;
}

.photos-sub-nav .sep {
	margin-right: 1rem !important;
}

*:not(.search-active) .photos-top-nav.sticky + .photos-nav-spacer + .photos-sub-nav {
	position: fixed;
	top: 4rem;
	right: 1rem;
	z-index: 98;
	will-change: position;
}

.photos-sub-nav.visible {
	transform: translateY(0rem);
	opacity: 1;
	pointer-events: all;
}

.photos-sub-nav .button {
	width: 2.5rem;
	height: 2.5rem;
	margin: 0.25rem 0;
	border-radius: 3rem;
	padding:10px;
	text-align:center;
	background-color: transparent;
	transition: 0.3s background-color ease;
}

.photos-sub-nav .button .icon {
	font-size: 15px;
	color: #fff;
	transition: 0.3s color ease;
}

.photos-sub-nav .button.selected {
	background-color: #FFF;
}

.photos-sub-nav .button.selected * {
	color: #000;
}

.photos-sub-nav .sortby {
	user-select: none;
	color:#ccc;
}

.sort-button.unavailable {
	opacity: 0.3;
	pointer-events: none;
}

*.search-active .photos-sub-nav {
	transform: translateY(-0.5rem);
	opacity: 0;
	pointer-events: none;
}

html.search-active, body.search-active {
	overflow: hidden;
	height: 100vh;
	max-height: 100vh;
	min-height: 0 !important;
	position: fixed;
	width: 100%;
}

#photos-move-sel-modal-toggle-button .fa-arrow-right {
	color: #FFF!important;
}

/*//////////////////////////////////////////////////////
////////////////////// SEARCH //////////////////////////
////////////////////////////////////////////////////////*/

.photos-desktop-spacer {
	height: 4rem;
}

#search-input, #search-bar {
	height: 3rem;
	background-color :  #FFF;
}

#search-bar {
	border-radius: 3rem;
	overflow: hidden;
	box-shadow: 0 0.5rem 1rem rgba(10,10,10,0.1);
}

#search-bar .button {
	width: 3.5rem;
}

#search-bar .button, #search-bar input {
	height: 3rem;
}

#search-input {
	padding-left: 1.5rem;
}

.photos-search-result:last-of-type {
    max-width: 400px;
}

/*////////////////////////////////////////////////////////
//////////////////////  MODALS  //////////////////////////
////////////////////////////////////////////////////////*/

.move-folder {
    height: 3.5rem;
}

.photos-move-folders-list-item {
	border: 0;
	box-shadow: 0 0.25rem 0.5rem rgba(0,0,0,0.2);
	transition: 0.5s all ease;
	height: auto;
	min-height: 2.5rem;
}

.photos-move-folders-list-item span {
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
	width: calc(100% - 1.5rem);
	white-space: normal;
}

.photos-move-folders-list-item.is-active  {
	background-color: #363636;
    color: #FFF;
    box-shadow: 0 0.25rem 0.5rem rgba(0,0,0,0.1);
}

.photos-move-folders-list-item.is-current {
	color: #999;
    box-shadow: none !important;
}

#move-folders-list-new {
	/* box-shadow: 0 0.25rem 0.5rem rgba(0,0,0,0.1); */
	border: 1px dashed #999;
	min-height: 2.5rem;
}

#move-folders-list-new span:not(.icon) {
	width: calc(100% - 1.5rem);
}

#photos-move-folders-list {
  min-height: 40px;
  max-height: initial;
}

#lightbox-top-controls .button {
	background-color : transparent !important;
	box-shadow: none !important;
	outline: none !important;
	border: none;
}

.lightbox-wrapper {
	width: 100%;
	height: 100%;
	overflow: hidden;
	display: flex;
}

#lightbox-fav {
	transform: scale(0.8);
	transition: 0.5s transform ease;
}

#lightbox-fav i {
	transition: 0.5s color ease;
}

#lightbox-fav.fav {
	transform: scale(1.2);
}

#lightbox-fav.fav i {
	color: #d9534f !important;
}

#lightbox-fav.fav i:before {
	content: "\f004";
}


#lightbox-swipe-container {
	height: 100%;
	width: 100%;
	max-height: 100%;
	position: absolute;
	top: 0;
	z-index: 100;
}

.swiper-slide div {
	height: 100%;
	opacity: 1;
	transition: 0.3s opacity ease;
}

.swiper-slide div:empty {
	opacity: 0;
}

.swiper-zoom-container img {
	max-width: calc(100% - 2rem) !important;
	user-select: none;
}

.swiper-slide-zoomed img {
	border-radius: 0 !important;
}

#lightbox-nav {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 8rem;
	overflow: hidden;
}

#lightbox-prev-button, #lightbox-next-button {
	width: 6rem;
	height: 6rem;
	position: absolute;
	bottom: 2rem;
	transition: 1s transform ease 0.2s, 0.3s width ease, 0.3s height ease, 0.3s bottom ease;
	transform: translateX(0);
	background-color: #FFF;
	overflow: hidden;
	border-radius: 10px;
	box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.2);
	z-index: 101;
	cursor: pointer;
	pointer-events: all;
	user-select: none;
}

#lightbox-prev-button {
	left: 2rem;
}

#lightbox-next-button {
	right: 2rem;
}

#lightbox-prev-button:empty {
	transform: translateX(-10rem);
	opacity: 0;
	cursor: auto !important;
}

#lightbox-next-button:empty {
	transform: translateX(10rem);
	opacity: 0;
	cursor: auto !important;
}

#lightbox-prev-button img, #lightbox-next-button img {
	object-fit: cover;
	width: 100%;
	height: 100%;
}

#photos-download-modal {
	z-index: 999;
	pointer-events: none;
	opacity: 0;
	background-color: rgba(255,255,255,0.85);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	transition: 0.5s opacity ease, 0.5s background-color ease;
}

#photos-download-modal.active {
	z-index: 999;
	pointer-events: all;
	opacity: 1;
}

#photos-download-modal .crypteecard {
	width: calc(320px - 2rem);
	height: calc(320px - 2rem);
	background-color: #FFF;
	margin: auto;
	position: absolute;
	top: calc(50% - 160px);
	left: 0;
	right: 0;
	box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.2);
	padding: 2rem;
	opacity: 0;
	transform: translateY(2rem) scale(1);
	pointer-events: none;
	transition: 0.5s opacity ease 0.5s, 0.5s transform ease, 1s top ease, 1s height ease;
	overflow: hidden;
}

#photos-download-modal progress {
	position: absolute;
	top:0;
	left: 0;
	height: 100%;
	opacity: 0;
	z-index: 1;
	transition: 1s opacity ease;
	pointer-events: none;
}

#photos-download-modal.active .crypteecard {
	opacity: 1;
	transform: translateY(0);
	pointer-events: all;
}

#photos-download-modal .crypteecard p {
	opacity: 1;
	pointer-events: none;
	transition: 0.5s opacity ease;
}

#photos-download-modal .crypteecard .title {
	font-size:1rem;
	z-index: 2;
	position: relative;
}

#photos-download-modal .crypteecard button {
	margin: 2.5rem auto 0 auto;
	display: block;
}

#photos-download-modal.downloading {
	pointer-events: none;
	background-color: transparent;
}

#photos-download-modal.downloading .crypteecard {
	top: calc(100% - 7rem);
	height: 5rem;
}

#photos-download-modal.downloading p:not(.title){
	opacity: 0;
}

#photos-download-modal.downloading progress {
	opacity: 0.15;
}

#photos-download-modal.flash .crypteecard {
	transform: translateY(0) scale(0.9);
}









#photos-upload-status .modal-background {
	background: #f5f5f5 !important;
}

#photos-upload-status .modal-content {
	margin:0;
}

#upload-status {
	box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.2);
	margin: 1.5rem auto;
	overflow: hidden;
	max-width: calc(320px - 2rem);
	height: 480px;
}

#photos-uploading-title {
	font-weight: 600;
	letter-spacing: 2px;
	position: absolute;
	font-size: 44px;
	height: 44px;
	line-height: 44px;
	bottom: -6px;
	right:calc(1rem - 5px);
}

#photos-upload-status .upload-status-message {
	position: absolute;
	bottom: calc(44px - 6px);
	right: 1rem;
	font-family: 'Courier New', Courier, monospace;
	font-weight: 100;
	font-size: 16.5px; /* 3/8th of the upgrade message */
	text-align:right;
	opacity: 1;
	transition: 0.5s opacity ease;
	max-width: calc(100% - 2rem);
	background-color: #FFF;
	padding-top: 0.5rem;
}  

#photos-upload-status-contents {
	position: absolute;
	top: 1rem;
	left: 1rem;
	width: calc(100% - 2rem);
	height: calc(100% - 44px - 16.5px - 2.5rem + 6px);
	overflow:scroll;
}

#photos-upload-status-contents .upload {
	width: 100%;
	height: calc(77px + 4rem);
	overflow: hidden;
	padding-bottom: 4rem;
	position: relative;
	transform: scaleY(0);
	transform-origin: top;
	transition: 0.7s transform ease, 0.7s margin ease;
	transition-delay: 0.6s;
}

#photos-upload-status-contents .upload-symbol {
	background-repeat: no-repeat;
	background-position: bottom;
	height: 77px;
	width: 77px;

	transition: 0.5s transform ease, 0.5s opacity ease;
	transition-delay: 0s;
	transform: translateY(1rem);
	opacity: 0;
}

#photos-upload-status-contents .upload-title {
	text-transform: uppercase;
	font-family: 'Courier New', Courier, monospace;
	/* font-weight: 600; */
	font-size: 12px; /* ~1/8th of the upgrade message */
	line-height: 22px;
	margin-top: 33px;
	width:100%;
	text-overflow: ellipsis;
    overflow: hidden;
	white-space: nowrap;
	
	transition: 0.4s transform ease, 0.4s opacity ease;
	transition-delay: 0s;
	opacity: 0;
}

#photos-upload-status-contents .upload-progress {
	text-transform: uppercase;
	font-weight: 600;
	font-size: 22px; /* 1/2 of the upgrade message */
	line-height: 22px;
	text-overflow: ellipsis;
    overflow: hidden;
	white-space: nowrap;
	
	transition: 0.6s transform ease, 0.6s opacity ease;
	transition-delay: 0s;
	opacity: 0;
}

#photos-upload-status-contents .upload-info  {
	position: absolute;
	top: 0;
	width: 100%;
	max-width: calc(100% - 77px - 1rem);
	overflow: hidden;
}

#photos-upload-status-contents .upload:nth-child(odd) .upload-symbol {
	float: left;
}

#photos-upload-status-contents .upload:nth-child(even) .upload-symbol {
	float: right;
}

#photos-upload-status-contents .upload:nth-child(odd) .upload-title,
#photos-upload-status-contents .upload:nth-child(odd) .upload-progress {
	text-align: right;
	transform: translateX(1.5rem);
}

#photos-upload-status-contents .upload:nth-child(even) .upload-title,
#photos-upload-status-contents .upload:nth-child(even) .upload-progress {
	text-align: left;
	transform: translateX(-1.5rem);
}

#photos-upload-status-contents .upload:nth-child(odd) .upload-info {
	right: 0;
}

#photos-upload-status-contents .upload:nth-child(even) .upload-info {
	left: 0;
}

#photos-upload-status-contents .upload:nth-child(1n) .upload-symbol {
	background-image: url("../assets/triangle.svg");
}

#photos-upload-status-contents .upload:nth-child(2n) .upload-symbol {
	background-image: url("../assets/circle.svg");
}

#photos-upload-status-contents .upload:nth-child(3n) .upload-symbol {
	background-image: url("../assets/square.svg");
}

#photos-upload-status-contents .upload.visible {
	transform: scaleY(1);
	transition-delay: 0s;
}

#photos-upload-status-contents .upload.visible .upload-title,
#photos-upload-status-contents .upload.visible .upload-progress {
	opacity: 1;
	transform: translateX(0);
	transition-delay: 0.5s;
}

#photos-upload-status-contents .upload.visible .upload-symbol {
	opacity: 1;
	transform: translateY(0);
	transition-delay: 0.5s;
}

#photos-upload-status-contents::after {
	-webkit-animation: spinAround 500ms infinite linear;
	animation: spinAround 500ms infinite linear;
	border: 1px solid #000;
	border-radius: 290486px;
	border-right-color: transparent;
	border-top-color: transparent;
	content: "";
	display: block;
	height: 100px;
	width: 100px;
	left: calc(50% - 50px);
	top: calc(50% - 50px);
	position: absolute !important;
	opacity: 0;
	transition: 0.5s opacity ease;
}

#photos-upload-status-contents:empty::after {
	opacity: 1;
}

#photos-upload-status-contents .upload.errored .upload-symbol {
	transform: translateY(1rem);
	opacity: 0;
}

#photos-upload-status-contents .upload.errored .upload-info {
	max-width: 100%;
}

#photos-upload-status-contents .upload.errored {
	height: 77px !important;
	padding-bottom: 0 !important;
}

#photos-upload-status-contents .upload.errored:last-child {
	margin-bottom: 100px;
}

#photos-upload-status-contents .upload.errored .upload-title {
	margin-top:0px !important;
}

#photos-upload-status-contents .upload.errored .upload-title,
#photos-upload-status-contents .upload.errored .upload-progress {
	text-align: center!important;
}

/*////////////////////////////////////////////////////////
////////////////////// THE GRID //////////////////////////
////////////////////////////////////////////////////////*/

#active-album-title {
	text-align: center;
	font-size: 1.5rem;
	font-weight: 700;
	letter-spacing: 2px;
	text-transform: uppercase;
}

#folder-contents {
	overflow: initial;
	align-content: flex-start;
}

.folder-content {
	min-height: 240px;
	height: calc(20vh - 4rem);
}

.folder-content.fav {
	min-height: 320px;
	height: calc(50vh - 4rem);
}

.mediaitem {
	padding: 0;
}

.mediaitem + .albumitem {
	margin-top: 1rem;
}

.albumitem {
	width : 100%;
	margin-left: 0;
	margin-right: 0;
	position: relative;
	padding: 0;
	margin-bottom: 1rem;
	box-shadow: 0 0.25rem 0.5rem rgba(0,0,0,0.1);
}

.albumitem[date]:after { 
    content: attr(date);
    font-family: Montserrat;
	font-size: 7rem;
	line-height: 7rem;
    position: absolute;
    bottom: 0rem;
    left: calc(50% + 1rem);
    opacity: 0.1;
    text-transform: uppercase;
    font-weight: 700;
    transition: 0.5s opacity ease;
}

.albumtitle {
    opacity: 1;
    bottom: 1.25rem;
    left: calc(50% + 0.5rem);
    position: absolute;
    background-color: transparent;
    border: none;
    color: #000;
    padding: 1rem;
    font-size: 1.85rem;
    letter-spacing: 2px;
    font-weight: 700;
    width : calc(50% - 0.5rem);
    height: 3rem;
}

.albumitem:nth-child(even):after {
	left: 0;
	text-align: right;
	width: calc(50% - 1rem);
}

.albumitem:nth-child(even) .albumtitle {
	left: 0;
	text-align: right;
	width: calc(50% - 1rem);
}

.albumtitle::selection {
  background-color: #363636 !important;
  color: #f5f5f5 !important;
}

.albumtitle::-moz-selection {
  background-color: #363636 !important;
  color: #f5f5f5 !important;
}


.album {
	max-width: 100%;
	background-color: #FFF;
}

.album img{
	max-width: 50%;
	height: 100%;
}

.albumitem:nth-child(even) .album img {
	float: right;
}

.album .deletefoldericon,
.album .ghostfoldericon,
.album .downloadfoldericon {
	top: 1rem;
    opacity: 0.2; 
    background-color: transparent;
    transition: 0.3s opacity ease;
}

.album .deletefoldericon {
	right: 1rem;
	color: #d9534f;
}

.album .ghostfoldericon {
    right: 4rem;
    color: #363636;
}

.album .downloadfoldericon {
    right: 7rem;
    color: #363636;
}

.albumitem:nth-child(even) .deletefoldericon {
	right: auto;
	left: 1rem;
}

.albumitem:nth-child(even) .ghostfoldericon {
	right: auto;
	left: 4rem;
}

.albumitem:nth-child(even) .downloadfoldericon {
	right: auto;
	left: 7rem;
}


.album .deletefoldericon i, 
.album .downloadfoldericon i, 
.album .ghostfoldericon i {
	font-size: 1.25rem !important;
}

.album progress {
	position: absolute !important;
    top: 0 !important;
    left: calc(50% + 1.5px) !important;
    height: 3px !important;
    width: 240px !important;
    transform: rotate(90deg) !important;
    transform-origin: top left !important;
    transition: 0.5s opacity ease;
    opacity: 0;
}

.album.is-loading progress {
	opacity: 1;
}

#new-folder-shell {
	padding:0;
	margin-bottom: 3rem;
    height: 60px;
    vertical-align: middle;
    line-height: 60px;
	min-height: 60px;
	background-color: transparent;
	position: relative;
	color: #000;
	cursor: pointer;
}

#new-folder-shell p {
	display: block;
	position: absolute;
	bottom: 0.75rem;
	left: 0rem;
	width: 100%;
	text-align: center;
	font-weight: 600;
	font-size: 24px;
	line-height: 24px;
	height: 24px;
	user-select: none;
	transform: scale(1);
	transition: 0.7s transform ease;
}

#new-folder-shell .symbols {
	display: block;
	position: absolute;
	top: 0rem;
	left: 0rem;
	width: 100%;
	height: calc(60px - 2rem);
	text-align: center;
}

#new-folder-shell img {
	opacity: 0.25;
	height: 36px;
	width: auto;
	margin: 0 0.25rem;
	user-select: none;
	transition: 2s transform ease-out, 2s opacity ease;
	transform: translate3d(0, 0, 0) rotate(0);
}

#new-folder-shell.creating img:nth-child(1n) {
	transform: translate3d(75px, 18px, 0) rotate(90deg); 
	opacity: 0;
}

#new-folder-shell.creating img:nth-child(2n) {
	transform: translate3d(0, 50px, 0); 
	opacity: 0;
}

#new-folder-shell.creating img:nth-child(3n) {
	transform: translate3d(-75px, 18px, 0) rotate(90deg); 
	opacity: 0;
}


@media (max-width:1065px) {
	.photos-column {
	  max-width: calc(100% - 7rem);
	}
}

@media (max-width: 708px) {
	.albumitem[date]:after { 
		/* opacity: 0; */
		font-size: 4rem;
		line-height: 4rem;
		bottom: 1.5rem;
		z-index: 11;
		margin-bottom: -1.5rem;
		pointer-events: none;
		left: calc(50% - 0.25rem);
		width: 50%;
		text-align: right;
	}

	.albumitem:nth-child(even):after {
		left: 0;
		text-align: left;
		width: calc(50%);
	}

	.albumtitle {
	    bottom: 0;
	    left: 25%;
	    font-size: 1rem;
	    letter-spacing: 1px;	
	    background-color: #FFF;  
	    width : 75%;  
	}

	.dm .albumtitle {
		background-color: var(--darkest); 
	}

	.albumitem:nth-child(even) .albumtitle {
		width: 75%;
	}

	.albumtitle:focus {
		left: 0 !important;
		width: 100% !important;
	}

	.folder-content.fav {
		min-height: 200px;
		max-height: 240px;
	}
}

@media (max-width: 508px) {
	.photos-column {
	  max-width: calc(100% - 2rem);
	}

	.albumitem {
		margin-left: 1rem;
		margin-right: 1rem;
		width: calc(100% - 2rem);
		max-height: 160px;
	}
}

@media (-moz-touch-enabled: 0), (pointer:fine) {
	/* ENABLE HOVERS */
	.album .deletefoldericon:hover, 
	.album .downloadfoldericon:hover, 
	.album .ghostfoldericon:hover {
		opacity: 1;
	}

	.dm .album .deletefoldericon:hover, 
	.dm .album .downloadfoldericon:hover, 
	.dm .album .ghostfoldericon:hover {
		opacity: 1;
	}

	#lightbox-prev-button:hover, #lightbox-next-button:hover {
		bottom: 1rem;
		width: 7rem;
		height: 7rem;
	}

	#new-folder-shell:hover:not(.creating) img {
		transition: 0.7s transform ease, 0.7s opacity ease;
	}

	#new-folder-shell:hover:not(.creating) img:nth-child(1n) {
		transform: translate3d(-25px, 18px, 0) !important;
	}

	#new-folder-shell:hover:not(.creating) img:nth-child(2n) {
		transform: translate3d(0, 18px, 0) !important;
	}

	#new-folder-shell:hover:not(.creating) img:nth-child(3n) {
		transform: translate3d(25px, 18px, 0) !important;
	}

	#new-folder-shell:hover:not(.creating) p {
		transform: scale(0.85);
	}

}

@media (-moz-touch-enabled: 1), (pointer:coarse) {
	/* ENABLE TOUCHSCREEN */
	.album .deletefoldericon, 
	.album .downloadfoldericon, 
	.album .ghostfoldericon {
		opacity: 1;
	}

	.album .deletefoldericon {
		top: 0.25rem;
	    right: 0rem;
	}

	.album .ghostfoldericon {
		top: 0.25rem;
	    right: 3.125rem;
	}

	.album .downloadfoldericon {
		top: 0.25rem;
	    right: 6.25rem;
	}

	.albumitem:nth-child(even) .deletefoldericon {
		right: auto;
		left: 0rem;
	}

	.albumitem:nth-child(even) .ghostfoldericon {
		right: auto;
		left: 3.125rem;
	}

	.albumitem:nth-child(even) .downloadfoldericon {
		right: auto;
		left: 6.25rem;
	}
}



/*///////////////////////////////////////////////////
//////////////// DARK MODE OVERRIDES ////////////////
///////////////////////////////////////////////////*/

.dm #search-input,
.dm #search-bar,
.dm .album,
.dm #lightbox-modal {
	background-color: var(--darkest);
	color:var(--bright);
}

.dm #photos-search ::placeholder {
	color :var(--bright) !important;
}

  
.dm *:not(.search-active) .photos-top-nav.sticky {
	background-color: var(--darkest);
	color:var(--bright);
}

.dm .photos-top-nav .button * {
	color: var(--bright) !important; 
}

.dm .albumtitle,
.dm .album i:not(.fa-trash),
.dm .albumitem[date]:after,
.dm #lightbox-modal i {
	color :var(--bright);
}

.dm .album .deletefoldericon {
	opacity: 0.4;
}

.dm #folder-contents.is-loading::before,
.dm #folder-contents.is-loading.is-updating::before  {
	color :var(--brightest);
}
  
.dm #folder-contents.is-loading::after,
.dm #lightbox-spinner {
	border: 3px solid var(--brightest);
	border-right-color: transparent;
    border-top-color: transparent;
}

.dm .album progress.progress:indeterminate {
	animation: album-progress-indeterminate-dark-mode 3s ease infinite !important;
}

@keyframes album-progress-indeterminate-dark-mode {
  0% {
    background-image: linear-gradient(to right, var(--darkest) 10%, var(--bright) 50%, var(--darkest) 90%);
	background-position: 300% 0;
	background-color: var(--darkest);
  }
  100% {
    background-image: linear-gradient(to right, var(--darkest) 10%, var(--bright) 50%, var(--darkest) 90%);
	background-position: -200% 0;
	background-color: var(--darkest);
  }
}

.dm #photos-upload-status .modal-background {
    background: var(--darkest) !important;
}

.dm .photos-search-result .title u, 
.dm .photos-search-result-folder .title u,
.dm .photos-search-result .subtitle u {
  color: var(--brightest) !important;
  text-decoration: none;
}

.dm #photos-move-sel-modal-toggle-button .fa-arrow-right {
	color: #000!important;
}

.dm #new-folder-shell {
	color :var(--bright);
}

.dm #new-folder-shell img {
	opacity: 0.6;
}