/*///////////////////////////////////////////////////
////////////////////// GENERAL //////////////////////
///////////////////////////////////////////////////*/

html {
	background-color: #f5f5f5;
}

.album progress.progress:indeterminate {
	animation: progress-indeterminate-dark 3s ease infinite !important;
	background: #ffffff linear-gradient(to right, #363636 50%, #ffffff 50%) top left/150% 150% no-repeat !important;
}

@keyframes progress-indeterminate-dark {
  0% {
    background-image: linear-gradient(to right, #363636 50%, #ffffff 50%);
    background-position: 200% 0;
  }
  100% {
    background-image: linear-gradient(to right, #363636 50%, #ffffff 50%);
    background-position: -200% 0;
  }
}

.photos-body {
	background: #F5F5F5;
	min-height: 100%;
}

.photos-column {
	/* same as docs page width for optical OCD's sake */
	max-width: calc(100% - 320px + 1rem);
	margin: auto auto 0.5rem auto !important;
}

/*///////////////////////////////////////////////////
////////////////////// NAV //////////////////////////
///////////////////////////////////////////////////*/


#main-progress {
	margin-top: 0;
	margin-bottom: 0;
	height: 3px !important;
}

#photos-app-nav {
	margin-top: 1rem;
	height: 3rem;
}

#left-nav {
	float: left;
	text-align: left;
	top: 0;
	left: 0;
}

#right-nav {
	float: right;
	text-align: right;
	top: 0;
	right: 0;
}

.photos-app-nav-item {
  width: auto;
  height: 2rem;
  display: inline-block;
  margin-left: 1rem;
  vertical-align: middle;
}

.photos-app-nav-item img {
  width: auto;
  height: 2rem;
}

#upgrade-button {
  padding: 0.5rem 1rem;
  border-radius: 6rem;
  box-shadow: 0 0.25rem 0.5rem rgba(10,10,10,0.1);
  text-decoration: none;
  transition: 1s opacity ease;
  cursor: pointer;
}

#help-button, #hotkeys-button {
  position: absolute;
  top: 0;
  right: 0;
  width: 2rem;
  height: 4rem;
  margin-left: 1rem;
  margin-right: 1rem;
  cursor: pointer;
  z-index: 12;
  color : #999;
  font-size: 16px;
  transition: 0.5s color ease, 1s opacity ease;
  opacity: 1;
  pointer-events: all;
}

#hotkeys-button {
  right: 2.5rem;
}

#help-button.itsMobile {
  top: 3px;
  width: 3rem !important;
  height: 3rem !important;
}

#hotkeys-button.itsMobile {
  display: none;
}

.photos-top-nav.sticky {
	box-shadow: 0 0.25rem 0.5rem rgba(10,10,10,0.1);
}

.photos-top-nav .button * {
  color: #666 !important;
  transition: 0.3s color ease;
}

.photos-sub-nav {
	width: 280px;
	margin-left: auto;
	height: 3.5rem;
	background-color: #000;
	padding: 0.25rem;
	border-radius: 10px;
	box-shadow: 0 0.25rem 0.5rem rgba(0,0,0,0.15);
	text-align: right;
	overflow: hidden;
	pointer-events: none;
	transform: translateY(-0.5rem);
	opacity: 0;
	transition: 0.5s transform ease, 0.5s opacity ease,  0.5s height ease, 0.5s padding ease;
}

.photos-sub-nav span {
	color : #FFF;
	background-color: transparent;
	border: none;
	height: 3rem;
	line-height: 3rem;
}

.photos-sub-nav span:not(.button), .photos-sub-nav span:last-of-type {
	margin-right: 0.25rem;
}

.photos-sub-nav .sep {
	margin-right: 1rem !important;
}

*:not(.search-active) .photos-top-nav.sticky + .photos-nav-spacer + .photos-sub-nav {
	position: fixed;
	top: 4rem;
	right: 1rem;
	z-index: 98;
	will-change: position;
}

.photos-sub-nav.visible {
	transform: translateY(0rem);
	opacity: 1;
	pointer-events: all;
}

.photos-sub-nav .button {
	width: 2.5rem;
	height: 2.5rem;
	margin: 0.25rem 0;
	border-radius: 3rem;
	padding:10px;
	text-align:center;
	background-color: transparent;
	transition: 0.3s background-color ease;
}

.photos-sub-nav .button .icon {
	font-size: 15px;
	color: #fff;
	transition: 0.3s color ease;
}

.photos-sub-nav .button.selected {
	background-color: #FFF;
}

.photos-sub-nav .button.selected * {
	color: #000;
}

.photos-sub-nav .sortby {
	user-select: none;
	color:#ccc;
}

*.search-active .photos-sub-nav {
	transform: translateY(-0.5rem);
	opacity: 0;
	pointer-events: none;
}

html.search-active, body.search-active {
	overflow: hidden;
	height: 100vh;
	max-height: 100vh;
	min-height: 0 !important;
	position: fixed;
	width: 100%;
}

#photos-move-sel-modal-toggle-button .fa-arrow-right {
	color: #FFF!important;
}

/*//////////////////////////////////////////////////////
////////////////////// SEARCH //////////////////////////
////////////////////////////////////////////////////////*/

.photos-desktop-spacer {
	height: 4rem;
}

#search-input, #search-bar {
	height: 3rem;
	background-color :  #FFF;
}

#search-bar {
	border-radius: 3rem;
	overflow: hidden;
	box-shadow: 0 0.5rem 1rem rgba(10,10,10,0.1);
}

#search-bar .button {
	width: 3.5rem;
}

#search-bar .button, #search-bar input {
	height: 3rem;
}

#search-input {
	padding-left: 1.5rem;
}

.photos-search-result:last-of-type {
    max-width: 400px;
}

/*////////////////////////////////////////////////////////
//////////////////////  MODALS  //////////////////////////
////////////////////////////////////////////////////////*/
.photos-move-folders-list-item {
	border: 0;
	box-shadow: 0 0.25rem 0.5rem rgba(0,0,0,0.2);
	transition: 0.5s all ease;
	height: auto;
	min-height: 2.5rem;
}

.photos-move-folders-list-item span {
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
	width: calc(100% - 1.5rem);
	white-space: normal;
}

.photos-move-folders-list-item.is-active  {
	background-color: #363636;
    color: #FFF;
    box-shadow: 0 0.25rem 0.5rem rgba(0,0,0,0.1);
}

.photos-move-folders-list-item.is-current {
	color: #999;
    box-shadow: none !important;
}

#move-folders-list-new {
	/* box-shadow: 0 0.25rem 0.5rem rgba(0,0,0,0.1); */
	border: 1px dashed #999;
	min-height: 2.5rem;
}

#move-folders-list-new span:not(.icon) {
	width: calc(100% - 1.5rem);
}

#photos-move-folders-list {
  min-height: 40px;
  max-height: initial;
}

#lightbox-top-controls .button {
	background-color : transparent !important;
}

.lightbox-wrapper {
	width: 100%;
	height: 100%;
	overflow: hidden;
	display: flex;
}

#lightbox-swipe-container {
	height: 100%;
	width: 100%;
	max-height: calc(100% - 6.25rem);
	position: absolute;
	top: 3.125rem;
	z-index: 100;
}

.lightbox-photo {
	user-select: none;
}

.swiper-slide div {
	height: 100%;
	opacity: 1;
	transition: 0.3s opacity ease;
}

.swiper-slide div:empty {
	opacity: 0;
}

#lightbox-nav {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 8rem;
	overflow: hidden;
}

#lightbox-prev-button, #lightbox-next-button {
	width: 6rem;
	height: 6rem;
	position: absolute;
	bottom: 2rem;
	transition: 1s transform ease 0.2s, 0.3s width ease, 0.3s height ease, 0.3s bottom ease;
	transform: translateX(0);
	background-color: #FFF;
	overflow: hidden;
	border-radius: 10px;
	box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.2);
	z-index: 101;
	cursor: pointer;
	pointer-events: all;
	user-select: none;
}

#lightbox-prev-button {
	left: 2rem;
}

#lightbox-next-button {
	right: 2rem;
}

#lightbox-prev-button:empty {
	transform: translateX(-10rem);
	opacity: 0;
	cursor: auto !important;
}

#lightbox-next-button:empty {
	transform: translateX(10rem);
	opacity: 0;
	cursor: auto !important;
}

#lightbox-prev-button img, #lightbox-next-button img {
	object-fit: cover;
	width: 100%;
	height: 100%;
}

#photos-download-modal {
	z-index: 999;
	pointer-events: none;
	opacity: 0;
	background-color: rgba(255,255,255,0.85);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	transition: 0.5s opacity ease, 0.5s background-color ease;
}

#photos-download-modal.active {
	z-index: 999;
	pointer-events: all;
	opacity: 1;
}

#photos-download-modal .crypteecard {
	width: calc(320px - 2rem);
	height: calc(320px - 2rem);
	background-color: #FFF;
	margin: auto;
	position: absolute;
	top: calc(50% - 160px);
	left: 0;
	right: 0;
	box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.2);
	padding: 2rem;
	opacity: 0;
	transform: translateY(2rem) scale(1);
	pointer-events: none;
	transition: 0.5s opacity ease 0.5s, 0.5s transform ease, 1s top ease, 1s height ease;
	overflow: hidden;
}

#photos-download-modal progress {
	position: absolute;
	top:0;
	left: 0;
	height: 100%;
	opacity: 0;
	z-index: 1;
	transition: 1s opacity ease;
	pointer-events: none;
}

#photos-download-modal.active .crypteecard {
	opacity: 1;
	transform: translateY(0);
	pointer-events: all;
}

#photos-download-modal .crypteecard p {
	opacity: 1;
	pointer-events: none;
	transition: 0.5s opacity ease;
}

#photos-download-modal .crypteecard .title {
	font-size:1rem;
	z-index: 2;
	position: relative;
}

#photos-download-modal .crypteecard button {
	margin: 2.5rem auto 0 auto;
	display: block;
}

#photos-download-modal.downloading {
	pointer-events: none;
	background-color: transparent;
}

#photos-download-modal.downloading .crypteecard {
	top: calc(100% - 7rem);
	height: 5rem;
}

#photos-download-modal.downloading p:not(.title){
	opacity: 0;
}

#photos-download-modal.downloading progress {
	opacity: 0.15;
}

#photos-download-modal.flash .crypteecard {
	transform: translateY(0) scale(0.9);
}

/*////////////////////////////////////////////////////////
////////////////////// THE GRID //////////////////////////
////////////////////////////////////////////////////////*/

#active-album-title {
	text-align: center;
	font-size: 1.5rem;
	font-weight: 700;
	letter-spacing: 2px;
	text-transform: uppercase;
}

#folder-contents {
	overflow: initial;
}

.folder-content {
	min-height: 240px;
	height: calc(20vh - 4rem);
}

.photoitem {
	padding: 0;
}

.photoitem + .albumitem {
	margin-top: 1rem;
}

.albumitem {
	width : 100%;
	margin-left: 0;
	margin-right: 0;
	position: relative;
	padding: 0;
	margin-bottom: 1rem;
	box-shadow: 0 0.25rem 0.5rem rgba(0,0,0,0.1);
}

.albumitem[date]:after { 
    content: attr(date);
    font-family: Montserrat;
	font-size: 7rem;
	line-height: 7rem;
    position: absolute;
    bottom: 0rem;
    left: calc(50% + 1rem);
    opacity: 0.1;
    text-transform: uppercase;
    font-weight: 700;
    transition: 0.5s opacity ease;
}

.albumtitle {
    opacity: 1;
    bottom: 1.25rem;
    left: calc(50% + 0.5rem);
    position: absolute;
    background-color: transparent;
    border: none;
    color: #000;
    padding: 1rem;
    font-size: 1.85rem;
    letter-spacing: 2px;
    font-weight: 700;
    width : calc(50% - 0.5rem);
    height: 3rem;
}

.albumitem:nth-child(even):after {
	left: 0;
	text-align: right;
	width: calc(50% - 1rem);
}

.albumitem:nth-child(even) .albumtitle {
	left: 0;
	text-align: right;
	width: calc(50% - 1rem);
}

.albumtitle::selection {
  background-color: #363636 !important;
  color: #f5f5f5 !important;
}

.albumtitle::-moz-selection {
  background-color: #363636 !important;
  color: #f5f5f5 !important;
}


.album {
	max-width: 100%;
	background-color: #FFF;
}

.album img{
	max-width: 50%;
	height: 100%;
}

.albumitem:nth-child(even) .album img {
	float: right;
}

.album .deletefoldericon {
	top: 1rem;
    right: 1rem;
    opacity: 0.2;
    color: #d9534f;
    background-color: transparent;
    transition: 0.3s opacity ease;
}

.album .ghostfoldericon {
	top: 1rem;
    right: 4rem;
    opacity: 0.2;
    color: #363636;
    background-color: transparent;
}

.albumitem:nth-child(even) .deletefoldericon {
	right: auto;
	left: 1rem;
}

.albumitem:nth-child(even) .ghostfoldericon {
	right: auto;
	left: 4rem;
}


.album .deletefoldericon i, .album .ghostfoldericon i {
	font-size: 1.25rem !important;
}

.album progress {
	position: absolute !important;
    top: 0 !important;
    left: calc(50% + 1.5px) !important;
    height: 3px !important;
    width: 240px !important;
    transform: rotate(90deg) !important;
    transform-origin: top left !important;
    background: #fff linear-gradient(to right, #363636 50%, #fff 50%) top left/150% 150% no-repeat !important;
    transition: 0.5s opacity ease;
    opacity: 0
}

.album.is-loading progress {
	opacity: 1;
}

@media (max-width:1065px) {
	.photos-column {
	  max-width: calc(100% - 7rem);
	}
}

@media (max-width: 708px) {
	.albumitem[date]:after { 
		/* opacity: 0; */
		font-size: 4rem;
		line-height: 4rem;
		bottom: 1.5rem;
		z-index: 11;
		margin-bottom: -1.5rem;
		pointer-events: none;
		left: calc(50% - 0.25rem);
		width: 50%;
		text-align: right;
	}

	.albumitem:nth-child(even):after {
		left: 0;
		text-align: left;
		width: calc(50%);
	}

	.albumtitle {
	    bottom: 0;
	    left: 25%;
	    font-size: 1rem;
	    letter-spacing: 1px;	
	    background-color: #FFF;  
	    width : 75%;  
	}

	.dm .albumtitle {
		background-color: var(--darkest); 
	}

	.albumitem:nth-child(even) .albumtitle {
		width: 75%;
	}

	.albumtitle:focus {
		left: 0 !important;
		width: 100% !important;
	}
}

@media (max-width: 508px) {
	.photos-column {
	  max-width: calc(100% - 2rem);
	}

	.albumitem {
		margin-left: 1rem;
		margin-right: 1rem;
		width: calc(100% - 2rem);
		max-height: 160px;
	}
}

@media (-moz-touch-enabled: 0), (pointer:fine) {
	/* ENABLE HOVERS */
	.album .deletefoldericon:hover, .album .ghostfoldericon:hover {
		opacity: 1;
	}

	.dm .album .deletefoldericon:hover, .dm .album .ghostfoldericon:hover {
		opacity: 1;
	}

	#lightbox-prev-button:hover, #lightbox-next-button:hover {
		bottom: 1rem;
		width: 7rem;
		height: 7rem;
	}

}

@media (-moz-touch-enabled: 1), (pointer:coarse) {
	/* ENABLE TOUCHSCREEN */
	.album .deletefoldericon, .album .ghostfoldericon {
		opacity: 1;
	}

	.album .deletefoldericon {
		top: 0.25rem;
	    right: 0rem;
	}

	.album .ghostfoldericon {
		top: 0.25rem;
	    right: 3.125rem;
	}

	.albumitem:nth-child(even) .deletefoldericon {
		right: auto;
		left: 0rem;
	}

	.albumitem:nth-child(even) .ghostfoldericon {
		right: auto;
		left: 3.125rem;
	}
}



/*///////////////////////////////////////////////////
//////////////// DARK MODE OVERRIDES ////////////////
///////////////////////////////////////////////////*/

.dm #search-input,
.dm #search-bar,
.dm .album,
.dm #lightbox-modal {
	background-color: var(--darkest);
	color:var(--bright);
}

.dm #photos-search ::placeholder {
	color :var(--bright) !important;
}

  
*:not(.search-active) .photos-top-nav.sticky {
	background-color: var(--darkest);
	color:var(--bright);
}

.dm .photos-top-nav .button * {
	color: var(--bright) !important; 
}

.dm .albumtitle,
.dm .album i:not(.fa-trash),
.dm .albumitem[date]:after,
.dm #lightbox-modal i {
	color :var(--bright);
}

.dm .album .deletefoldericon {
	opacity: 0.4;
}

.dm #folder-contents.is-loading::before,
.dm #folder-contents.is-loading.is-updating::before  {
	color :var(--brightest);
}
  
.dm #folder-contents.is-loading::after,
.dm #lightbox-spinner {
	border: 3px solid var(--brightest);
	border-right-color: transparent;
    border-top-color: transparent;
}

.dm .album progress.progress:indeterminate {
	animation: album-progress-indeterminate-dark 3s ease infinite !important;
	background: var(--bright) linear-gradient(to right, var(--darkest) 50%, var(--bright) 50%) top left/150% 150% no-repeat !important;
}

@keyframes album-progress-indeterminate-dark {
  0% {
    background-image: linear-gradient(to right, var(--darkest) 50%, var(--bright) 50%);
    background-position: 200% 0;
  }
  100% {
    background-image: linear-gradient(to right, var(--darkest) 50%, var(--bright) 50%);
    background-position: -200% 0;
  }
}

.dm #photos-upload-status .modal-background {
    background: var(--darkest) !important;
}

.dm .photos-search-result .title u, 
.dm .photos-search-result-folder .title u,
.dm .photos-search-result .subtitle u {
  color: var(--brightest) !important;
  text-decoration: none;
}

.dm #photos-move-sel-modal-toggle-button .fa-arrow-right {
	color: #000!important;
}