/* literata-regular - cyrillic_greek-ext_latin_vietnamese_latin-ext_greek */
@font-face {
    font-family: 'Literata';
    font-display: block;
    font-style: normal;
    font-weight: 400;
    src: local(''),
        url('../font/literata-v15-cyrillic_greek-ext_latin_vietnamese_latin-ext_greek-regular.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../font/literata-v15-cyrillic_greek-ext_latin_vietnamese_latin-ext_greek-regular.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* literata-600 - cyrillic_greek-ext_latin_vietnamese_latin-ext_greek */
@font-face {
    font-family: 'Literata';
    font-display: block;
    font-style: normal;
    font-weight: 600;
    src: local(''),
        url('../font/literata-v15-cyrillic_greek-ext_latin_vietnamese_latin-ext_greek-600.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../font/literata-v15-cyrillic_greek-ext_latin_vietnamese_latin-ext_greek-600.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* literata-500 - cyrillic_greek-ext_latin_vietnamese_latin-ext_greek */
@font-face {
    font-family: 'Literata';
    font-display: block;
    font-style: normal;
    font-weight: 500;
    src: local(''),
        url('../font/literata-v15-cyrillic_greek-ext_latin_vietnamese_latin-ext_greek-500.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../font/literata-v15-cyrillic_greek-ext_latin_vietnamese_latin-ext_greek-500.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* literata-700 - cyrillic_greek-ext_latin_vietnamese_latin-ext_greek */
@font-face {
    font-family: 'Literata';
    font-display: block;
    font-style: normal;
    font-weight: 700;
    src: local(''),
        url('../font/literata-v15-cyrillic_greek-ext_latin_vietnamese_latin-ext_greek-700.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../font/literata-v15-cyrillic_greek-ext_latin_vietnamese_latin-ext_greek-700.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* literata-600italic - cyrillic_greek-ext_latin_vietnamese_latin-ext_greek */
@font-face {
    font-family: 'Literata';
    font-display: block;
    font-style: italic;
    font-weight: 600;
    src: local(''),
        url('../font/literata-v15-cyrillic_greek-ext_latin_vietnamese_latin-ext_greek-600italic.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../font/literata-v15-cyrillic_greek-ext_latin_vietnamese_latin-ext_greek-600italic.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* literata-500italic - cyrillic_greek-ext_latin_vietnamese_latin-ext_greek */
@font-face {
    font-family: 'Literata';
    font-display: block;
    font-style: italic;
    font-weight: 500;
    src: local(''),
        url('../font/literata-v15-cyrillic_greek-ext_latin_vietnamese_latin-ext_greek-500italic.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../font/literata-v15-cyrillic_greek-ext_latin_vietnamese_latin-ext_greek-500italic.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* literata-italic - cyrillic_greek-ext_latin_vietnamese_latin-ext_greek */
@font-face {
    font-family: 'Literata';
    font-display: block;
    font-style: italic;
    font-weight: 400;
    src: local(''),
        url('../font/literata-v15-cyrillic_greek-ext_latin_vietnamese_latin-ext_greek-italic.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../font/literata-v15-cyrillic_greek-ext_latin_vietnamese_latin-ext_greek-italic.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* literata-700italic - cyrillic_greek-ext_latin_vietnamese_latin-ext_greek */
@font-face {
    font-family: 'Literata';
    font-display: block;
    font-style: italic;
    font-weight: 700;
    src: local(''),
        url('../font/literata-v15-cyrillic_greek-ext_latin_vietnamese_latin-ext_greek-700italic.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../font/literata-v15-cyrillic_greek-ext_latin_vietnamese_latin-ext_greek-700italic.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

.dark, .light {
    font-family: "Literata";
}